<a href="https://colab.research.google.com/github/duyguaran/NLP/blob/master/lexical_similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import nltk
from collections import Counter
import pandas as pd 
import numpy as np

In [ ]:
def levenshtein(seq1, seq2):
    size_x = len(seq1) + 1
    size_y = len(seq2) + 1
    matrix = np.zeros ((size_x, size_y))
    for x in range(size_x):
        matrix [x, 0] = x
    for y in range(size_y):
        matrix [0, y] = y

    for x in range(1, size_x):
        for y in range(1, size_y):
            if seq1[x-1] == seq2[y-1]:
                matrix [x,y] = min(
                    matrix[x-1, y] + 1,
                    matrix[x-1, y-1],
                    matrix[x, y-1] + 1
                )
            else:
                matrix [x,y] = min(
                    matrix[x-1,y] + 1,
                    matrix[x-1,y-1] + 1,
                    matrix[x,y-1] + 1
                )
    #print (matrix)
    return (matrix[size_x - 1, size_y - 1])

In [ ]:
text="duygu duygu duygu duygu duygu duygu duygu aran aran aran aran dygu dygu arn arn"

In [ ]:
text_lower=text.lower()
new_text=text_lower.split()

In [ ]:
frekans=nltk.FreqDist(new_text)
frekans_count=Counter(frekans) #get the frequency 
values=list(frekans_count.values())
listelenmis=list(frekans_count) #list of all

In [ ]:
high = []
low = []

In [ ]:
for x in range(len(frekans_count)): #for threshold = 3 )
  if values[x]< 3:
    low.append(listelenmis[x])
  else :
    high.append(listelenmis[x])

In [ ]:
h = high
l = low
dd = []
wr = []

In [ ]:

for j in range (len(low)):  #We find similarities by comparing low and high frequency words 
   for i in range(len(high)):
       if levenshtein(l[j],h[i]) == 1.0 :
        dd.append(h[i])
        wr.append(l[j])
        d= {'low':wr,
        'high': dd}
        df = pd.DataFrame(d)

In [ ]:
df # dygu is more similar to the word duygu

    low   high
0  dygu  duygu
1   arn   aran

In [ ]:
#arn is more similar to the word aran